:root {
	--background: #f282c2; 	/*lighter than main*/
	--main: #eb3c9f;		/*brand main color*/
	--light: #f9c2e1;		/*lighter than background*/
	--super-light: #fce1f1;	/*lightest*/	
	--medium: #b62e7b;		/*darker than main*/
	--dark: #942564;		/*pretty dark*/
	--link: #f282c2;		/*same as background*/	
	
	--text: #6f7577;		/*greyish*/
	--bold-text: #707577;	/*darker greyish*/
}



p {
    padding: .5em .2em .5em .2em;
}


p:hover {
    background-color: var(--super-light);
    
}

.benefit-res {
    display: none;
    right: 1%;
    position: absolute;
    top: 22px;  /* 312px;*/
    width: 325px;
    z-index: 10;
   background: var(--super-light);
  /* border: 2px solid var(--background); */
  /* border-radius: 5px; */
  font-size: 0.9375em;
  /* 18px/19.2 */
  padding: 15px;
  /* box-shadow: 4px 4px 10px  var(--light); */
  margin: 2em;
}

.benefit-res2 {
top: 200px;
}

.benefit-res {
    text-justify: left;
}

.research:hover .benefit-res {
    display: block;
  }

